# Pandas

## General

The Pandas library is built on NumPy and provides easy-to-use data structures and data analysis tools for the Python programming language.

Use the following importing convention:

In [2]:
import pandas as pd

## Pandas Data Structure

### Series

A one-dimensional labeled array capable of holding any data type.

In [3]:
s = pd.Series([3, -5, 7, 4], index = ['a', 'b', 'c', 'd'])

In [4]:
s

a    3
b   -5
c    7
d    4
dtype: int64

### DataFrame

A two-dimensional labeled data structure with columns of potentially different types.

In [5]:
#It is a dictionary:
data = {'Country': ['Belgium', 'India', 'Brazil'], 
        'Capital': ['Brussels', 'New Delhi', 'Brasilia'], 
        'Population': [11190846, 1303171035, 207847528]}

In [6]:
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

In [7]:
type(data)

dict

In [8]:
#Now you have a DataFrame.
df = pd.DataFrame(data, 
                  columns = ['Country', 'Capital', 'Population'])

In [9]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [12]:
type(df)

pandas.core.frame.DataFrame

## Asking for Help

In [13]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    Raises
    ------
    KeyError:
        when any items are not found

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

## Selection

*Also see NumPy arrays.*

### Getting

Get one element:

In [14]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [15]:
s['b']

-5

In [92]:
s[1]

-5

Get subset of a DataFrame:

In [93]:
df[1:]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528

### Selecting, Boolean Indexing and Setting

**By Position**

Select single value by row and column:

In [16]:
df.iloc[0][0]

'Belgium'

Select a row:

In [17]:
df.iloc[0]

Country        Belgium
Capital       Brussels
Population    11190846
Name: 0, dtype: object

In [18]:
df.iloc[[0]]

   Country   Capital  Population
0  Belgium  Brussels    11190846

**By Label**

Select single value by row and column labels:

In [19]:
df.loc[0]['Country']

'Belgium'

**Boolean Indexing**

Series *s* where value is not *> 1*:

In [20]:
s[~(s > 1)]

b   -5
dtype: int64

*s* where value is _< -1_ or *> 2*:

In [21]:
s[(s < -1) | (s > 2)]

a    3
b   -5
c    7
d    4
dtype: int64

Use filter to adjust DataFrame:

In [22]:
df[df['Population'] > 15000000]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528

In [23]:
df[(df['Population'] > 15000000) & (df['Capital'] != 'Brasilia')]

  Country    Capital  Population
1   India  New Delhi  1303171035

**Setting**

Set index *a* of series *s* to *6*:

In [24]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [25]:
s['a'] = 6

In [26]:
s

a    6
b   -5
c    7
d    4
dtype: int64

## Dropping

Drop values from rows (axis = 0):

In [29]:
s

a    6
b   -5
c    7
d    4
dtype: int64

In [30]:
s.drop(['a', 'c'])

b   -5
d    4
dtype: int64

Drop values from columns (axis =1):

In [31]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [32]:
df.drop('Country', axis = 1)

     Capital  Population
0   Brussels    11190846
1  New Delhi  1303171035
2   Brasilia   207847528

## Sort & Rank

Sort by labels along an axis:

In [33]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [34]:
df.sort_index()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

Sort by the values along an axis:

In [35]:
df.sort_values(by = 'Country', ascending = False)

   Country    Capital  Population
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
0  Belgium   Brussels    11190846

In [36]:
df.sort_values(by = 'Country')

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasilia   207847528
1    India  New Delhi  1303171035

Assign ranks to entries:

In [37]:
df.rank(ascending = False)

   Country  Capital  Population
0      3.0      2.0         3.0
1      1.0      1.0         1.0
2      2.0      3.0         2.0

In [38]:
df.rank()

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

## Retrieving Series / DataFrame Information

### Basic Information

(rows, columns):

In [39]:
df.shape

(3, 3)

Describe index:

In [40]:
df.index

RangeIndex(start=0, stop=3, step=1)

Describe DataFrame columns:

In [45]:
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

Info on DataFrame:

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

Number of non-NA values:

In [47]:
df.count()

Country       3
Capital       3
Population    3
dtype: int64

### Summary

Sum of values:

In [48]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [49]:
df.sum()

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasilia
Population                   1522209409
dtype: object

Cummulative sum of values:

In [50]:
df.cumsum()

              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasilia  1522209409

In [51]:
df.Population.cumsum()

0      11190846
1    1314361881
2    1522209409
Name: Population, dtype: int64

In [52]:
df['Population'].cumsum()

0      11190846
1    1314361881
2    1522209409
Name: Population, dtype: int64

Minimum / maximum values:

In [53]:
df.min()

Country        Belgium
Capital       Brasilia
Population    11190846
dtype: object

In [54]:
df.max()

Country            India
Capital        New Delhi
Population    1303171035
dtype: object

Summary statistics:

In [55]:
df.describe()

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

Mean of values:

In [56]:
df.mean()

Population    5.074031e+08
dtype: float64

Median of values:

In [57]:
df.median()

Population    207847528.0
dtype: float64

## Applying Functions

In [58]:
f = lambda x: x*2

Apply function element-wise:

In [59]:
df.apply(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasiliaBrasilia   415695056

In [60]:
df.applymap(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasiliaBrasilia   415695056

## Data Alignment

### Internal Data Alignment

NA values are introduced in the indices that do not overlap:

In [61]:
s

a    6
b   -5
c    7
d    4
dtype: int64

In [62]:
s3 = pd.Series([7, -2, 3], index = ['a', 'c', 'd'])

In [63]:
s3

a    7
c   -2
d    3
dtype: int64

In [64]:
s + s3

a    13.0
b     NaN
c     5.0
d     7.0
dtype: float64

### Arithmetic Operations with Fill Methods

You can also do the internal data alignment yourself with the help of the fill methods:

In [65]:
s

a    6
b   -5
c    7
d    4
dtype: int64

In [66]:
s3

a    7
c   -2
d    3
dtype: int64

In [67]:
s.add(s3, fill_value = 0)

a    13.0
b    -5.0
c     5.0
d     7.0
dtype: float64

In [68]:
s.sub(s3, fill_value = 2)

a   -1.0
b   -7.0
c    9.0
d    1.0
dtype: float64

In [69]:
s.div(s3, fill_value = 4)

a    0.857143
b   -1.250000
c   -3.500000
d    1.333333
dtype: float64

In [70]:
s.mul(s3, fill_value = 3)

a    42.0
b   -15.0
c   -14.0
d    12.0
dtype: float64

## I/O

### Read and Write to CSV

In [71]:
#This code will not run here because we are workin on Colab.
#pd.read_csv('file.csv', header = None, nrows = 5)

In [72]:
#This code will not run here because we are workin on Colab.
#pd.to_csv('myDataFrame.csv')

### Read and Write to Excel

In [73]:
#This code will not run here because we are workin on Colab.
#pd.read_excel('file.xlsx')

In [74]:
#This code will not run here because we are workin on Colab.
#pd.to_excel('dir/myDataFrame.xlsx', sheet_name = 'Sheet1')

Read multiple sheets from the same file:

In [75]:
#This code will not run here because we are workin on Colab.
#xlsx = pd.ExcelFile('file.xls')

In [76]:
#This code will not run here because we are workin on Colab.
#df = pd.read_excel(xlsx, 'Sheet1')

### Read and Write to SQL Query or Database Table

In [77]:
#This code will not run here because we are workin on Colab.
#from sqlalchemy import create_engine

In [78]:
#This code will not run here because we are workin on Colab.
#engine = create_engine('sqlite:///:memory:')

In [79]:
#This code will not run here because we are workin on Colab.
#pd.read_sql("SELECT * FROM my_table;", engine)

In [80]:
#This code will not run here because we are workin on Colab.
#pd.read_sql_table("my_table", engine)

In [81]:
#This code will not run here because we are workin on Colab.
#pd.read_sql_query("SELECT * FROM my_table;", engine)

read_sql() is a convenience wrapper around read_sql_table() and read_sql_query().

In [82]:
#This code will not run here because we are workin on Colab.
#pd.to_sql('myDf', engine)